/* Main CSS file */
* {
  box-sizing: border-box;
}

html {
  background-color: rgb(245, 245, 245);
	background-size: cover;
}

.title {

}

.container {
  width: 500px;
}

.todo {
  box-shadow: 0 2px 3px rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  width: 500px;


}

.todo__textInput {
  border: none;
  border-bottom: 1px solid rgb(239, 239, 239);
  outline: none;
  font-size: 20px;
  height: 60px;
  padding: 0 30px;
  width: inherit;
}

.todo__enter {
  height: 1px;
  left: -9999px;
  position: absolute;
  width: 1px;

}

.list {
  margin: 0;
  padding: 0;

}

.list__item {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(239, 239, 239);
  font-size: 20px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0 30px;
  width: 500px;
}

.list__item--selected {
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(239, 239, 239);
  font-size: 20px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0 30px;
  width: 500px;
}

.footer {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  width: 500px;

}

.footer__counter {
  margin: 0;
  color: rgb(132, 132, 132);

}
